﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Elsera Emlak</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/Content/images/ico/favicon.ico">
    <!-- JavaScripts -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/plugins.js"></script>
    <script src="/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>
<body>
    <!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                <li>
                    <a href="#">Events</a>
                    <ul>
                        <li><a href="events-grid.html">Events Grid</a></li>
                        <li><a href="events-list.html">Events List</a></li>
                        <li><a href="event-single.html">Event Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Courses</a>
                    <ul>
                        <li><a href="courses.html">Course List</a></li>
                        <li><a href="course-single.html">Course Single</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Blog Entries</a>
                    <ul>
                        <li><a href="blog.html">Blog Grid</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                        <li><a href="blog-disqus.html">Blog Disqus</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Pages</a>
                    <ul>
                        <li><a href="archives.html">Archives</a></li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>
                        <li><a href="gallery.html">Our Gallery</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
            </ul> <!-- /.main_menu -->
            <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul> <!-- /.social_icons -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->

    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 header-left">
                    <p><i class="fa fa-phone"></i> 0534 964 21 89</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:elsera_emlak@gmail.com">elsera_emlak@gmail.com</a></p>
                </div> <!-- /.header-left -->
                <div class="col-md-6">
                    <div class="logo">
                        <a href="index.html" title="ElseraEmlak" rel="home">
                            <img src="/Content/images/logo.png" alt="ElseraEmlak" style="width:100%; height:auto;">
                        </a>
                    </div> <!-- /.logo -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-3 header-right">
                    @Html.Partial("_LoginPartial")
      <br />
      @Html.ActionLink("tr", "Index", new { lang = "tr" })
      @Html.ActionLink("en", "Index", new { lang = "en" })
      <br />

      <div class="search-form">
          <form name="search_form" method="get" action="#" class="search_form">
              <input type="text" name="s" placeholder="Site içi arama..." title="arama" class="field_search">
          </form>
      </div>
    @*  @using (Html.BeginForm("GoogleSearch", "Home", FormMethod.Get))
      {
          <input type="text" name="search" placeholder="@ElseraEmlakProjesi.Resources.lang.Arama"
          title="@ElseraEmlakProjesi.Resources.lang.Arama" class="field_search">
      }*@




                </div> <!-- /.header-right -->
            </div>
        </div> <!-- /.container -->
        <div class="nav-bar-main" role="navigation">
            <div class="container">
                <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                    <ul class="main-menu sf-menu">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li>
                            <a href="#">Kurumsal</a>
                            <ul class="sub-menu">
                                <li>@Html.ActionLink("Hakkımızda", "Hakkimizda", "Home")</li>
                                <li>@Html.ActionLink("Kurumsal Materyallerimiz", "KurumsalMateryal", "Home")</li>
                                <li>@Html.ActionLink("İnsan Kaynakları", "insankaynaklari", "Home")</li>
                            </ul>
                        </li>
                        <li>
                        <li>@Html.ActionLink("Konutlar", "Konutlar", "Home")</li>
                        <li>
                        <li>@Html.ActionLink("İş Yerleri", "IsYerleri", "Home")</li>
                        <li>@Html.ActionLink("Arsalar", "Arsalar", "Home") </li>
                        <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    </ul> <!-- /.main-menu -->
                    <ul class="social-icons pull-right">
                        <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="RSS"><i class="fa fa-rss"></i></a></li>
                    </ul> <!-- /.social-icons -->
                </nav> <!-- /.main-navigation -->
            </div> <!-- /.container -->
        </div> <!-- /.nav-bar-main -->
    </header> <!-- /.site-header -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- begin The Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-2">
                   
                </div>
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-2">
                    
                </div>
                @*<div class="col-md-3">
                    <div class="footer-widget">
                        <ul class="footer-media-icons">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-youtube"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-apple"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                    </div>
                </div>*@
            </div> <!-- /.row -->
            <div class="bottom-footer">
                <div class="row">
                     <!-- /.col-md-5 -->
                    <div class="col-md-7">
                        <ul class="footer-nav">
                            <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                            <li>@Html.ActionLink("Hakkımızda", "Hakkimizda", "Home")</li>
                            <li>@Html.ActionLink("Konutlar", "Konut", "Home")</li>
                            
                            <li>@Html.ActionLink("İş Yerleri", "IsYerleri", "Home")</li>
                            <li>@Html.ActionLink("Arsalar", "Arsalar", "Home") </li>
                            <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                        </ul>
                    </div> <!-- /.col-md-7 -->
                </div> <!-- /.row -->
            </div> <!-- /.bottom-footer -->
        </div> <!-- /.container -->
    </footer> <!-- /.site-footer -->

  @*  "@RenderSection("scripts", required: false)" *@
</body>
</html>
