﻿@{
    ViewBag.Title = " İletisim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.6018652850073!2d30.39666149050139!3d40.779535027401245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409df629c377e3fd%3A0x1db45a38a7929946!2sAnnem+Sk.%2C+Cumhuriyet%2C+54100+Adapazar%C4%B1%2FSakarya!5e0!3m2!1str!2str!4v1450909056110" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br />
    <br />
    Adres:<br />
    Cumhuriyet Mahallesi, Annem Sokak, No:10<br />
    Adapazarı/SAKARYA <br/>

    <abbr title="Phone">Telefon:</abbr>
    0534 964 21 89
</address>

<address>
    <strong>Mail Adresimiz:</strong>   <a href="mailto:elsera_emlak@gmail.com">elsera_emlak@gmail.com</a><br />
</address>