﻿
@section scripts
 {
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
 google.load('search', '1');
 function OnLoad() {
 var s = window.location.search;
 if (s.indexOf('search=') >= 0) {
 s = s.substring(s.indexOf('search=') + 7);
 if (s.indexOf('&') >= 0) {
 s = s.substring(0, s.indexOf('&'));
 }
 s = decodeURIComponent(s.replace('+', ' '));
 }

     else {
 s = "";
 }
 var customSearchControl = new
google.search.CustomSearchControl('003622343470021693435:nrghgmdtbgq');
 customSearchControl.draw('search-result');
 customSearchControl.execute(s);
 }
 google.setOnLoadCallback(OnLoad);
</script>
}