﻿
@{
    ViewBag.Title = "Hakkimizda";
}

<h2>Hakkimizda</h2>

<h3>2015 yılında kurulan Elsera Emlak, bireysel kullanıcılarını ve kurumsal iş ortakları olan emlak ofislerini, 
 yüksek kaliteli hizmetleri ve alt yapısı ile buluşturarak, emlak sektörünün nabzını tutmayı hedeflemiştir.</h3>

<p>
    <h4>
            2015 yılında kurulan elseraemlak.com, bireysel kullanıcılarını ve kurumsal iş ortakları olan emlak ofislerini,
        yüksek kaliteli hizmetleri ve alt yapısı ile buluşturarak, emlak sektörünün nabzını tutmayı hedeflemiştir.
        Kısa zaman içinde, emlak seri ilan sektörünün en büyük üç sitesinden biri haline gelen elseraemlak.com; aylık 1,5 milyon
        tekil ziyaretçi ve 40 milyon sayfa görüntüleme başarısına ulaşmıştır.2014 yılının Mayıs ayında iLab Holding bünyesine
        katılan elseraemlak.com, kullanıcılarına daha iyi hizmet verebilmek için sürekli kendisini geliştirerek, yenilikçi
        ürün ve hizmet anlayışı ile emlak seri ilan sektöründe liderliği hedeflemektedir.
    </h4>
</p>