﻿@{
    ViewBag.Title = "Elsera Emlak";
}
  <div class="jumbotron" >
        
               
                    <div class="main-slideshow">
                        <div class="flexslider">
                            <ul class="slides">
                                @foreach (ElseraEmlakProjesi.Models.Slider item in ViewBag.Slider)
                                {
                                    <li>
                                        <img src="@Url.Content(item.SliderUrl)" class="img-responsive" />
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            


<div class="jumbotron">
    <div class="row">
        
            
              <h2></h2>
            
        </div>
    </div>






    @*<div class="row">
        <div class="col-sm-4">
            <div class="main-slideshow">
                <div class="flexslider">
                    <ul class="slides">
                       @foreach (ElseraEmlakProjesi.Models.Slider item in ViewBag.Slider)
                       {
                           <li>
                               <img src="@Url.Content(item.SliderUrl)" class="img-responsive" />
                           </li>
                       }

                    </ul>
                </div>
            </div>
        </div>
        </div>*@

    <div class="row">
        <div class="col-md-6">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h3 class="widget-title">Tanıtım Videomuz</h3>
                    <div class="widget-inner">
                        <iframe width="460" height="200" src="https://www.youtube.com/embed/UAZguExHtq4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                </div>
            </div>
               
            
            
        <div class="col-md-4">
                <h2>Konutlarımız</h2>
                <p> En çok tercih edilen illerimizin gözde semtlerinden seçilmiş konutlarımıza bakmak için tıklayınız...   </p>
                <p>
                    <a class="btn btn-default" @Html.ActionLink("Konutlar", "Konutlar", "Home")</a></p>
            
            </div>
           
         <div class="col-md-4">
                <h2>Bize ulaşmak için;</h2>
                <p>Yeni bir konut, iş yeri, arsa satın almak veya kiralamak istiyorsanız bize ulaşın...  </p>
                <p><a class="btn btn-default" @Html.ActionLink("İletişim", "Contact", "Home")</a></p>
            </div>
        </div>
