﻿@model List<ElseraEmlakProjesi.Models.ilanViewModel>
@{
    ViewBag.Title = "İş Yerleri";
}

<h2>İş Yerleri</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-4">
            <a href="~/Home/IsYeri/@item.ilan.ID">
                @if (item.Fotograflar.Count > 0)
                {
                    <img src="@Url.Content(item.Fotograflar.FirstOrDefault().FotoAdi)" class="img-responsive" />
                }
                
            </a>
        </div>
        <div class="col-sm-8">
            <a href="~/Home/IsYeri/@item.ilan.ID">
                <h4>@item.ilan.Baslik</h4>
            </a>

            <p>@item.ilan.ilanDetay.Aciklama</p>
            
        </div>
    </div>
}