﻿@model ElseraEmlakProjesi.Models.ilanViewModel
@{
    ViewBag.Title = "Konut";
}

<h2>Konutlar</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="main-slideshow">
            <div class="flexslider">
                <ul class="slides">
                    @foreach (var item in Model.Fotograflar)
                    {
                        <li>
                            <img src="@Url.Content(item.FotoAdi)" class="img-responsive" />
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <a href="~/Home/Konut/@Model.ilan.ID">
            <h4>@Model.ilan.Baslik</h4>
        </a>
        <ul>
            <li>Açıklama : @Model.ilan.ilanDetay.Aciklama</li>
            <li>Konum : @Model.ilan.ilanDetay.Konum</li>
            <li>Krediye Uygun: @{
                if (Model.ilan.ilanDetay.KrediyeUygun.Value)
                {
                    <span>Var</span>
                }
                else
                {
                    <span>Yok</span>
                }
            }</li>
            <li>Oda Sayısı: @Model.ilan.ilanDetay.OdaSayisi</li>
            <li>Bina Kat Sayısı: @Model.ilan.ilanDetay.BinaKatSayisi</li>
            <li>Bina Yaşı: @Model.ilan.ilanDetay.BinaYasi</li>
            <li>Bulunduğu Kat Sayısı: @Model.ilan.ilanDetay.BulunduguKatSayisi</li>
            <li>Isıtma: @Model.ilan.ilanDetay.isitma</li>
        </ul>
    </div>
</div>

    
