﻿
@{
    ViewBag.Title = "KurumsalMateryal";
}

<h2>Kurumsal Materyallerimiz</h2>

<img src="/Content/images/LOGGO.png" alt="ElseraEmlak"> <br />
<br />
<img src="/Content/images/smlk.png" alt="ElseraEmlak"> <br />
<br />
<img src="/Content/images/logo1.png" alt="ElseraEmlak">

