﻿@model ElseraEmlakProjesi.Models.ilan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ilan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetreKare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetreKare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cesit.CesitAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cesit.CesitAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilanDetay.OdaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilanDetay.OdaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kullanici.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanici.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semt.SemtAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semt.SemtAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
