﻿@model ElseraEmlakProjesi.Models.ilan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ilan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetreKare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetreKare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cesit.CesitAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cesit.CesitAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilanDetay.OdaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilanDetay.OdaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kullanici.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanici.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semt.SemtAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semt.SemtAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
