﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin Paneli", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("İlan","Index","ilan", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("İlan Detay", "Index", "ilanDetay", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("İl", "Index", "il", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("İlçe", "Index", "ilce", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Semt", "Index", "Semt", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Çeşit", "Index", "Cesit", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Kategori", "Index", "Kategori", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Dış Özellikler", "Index", "DisOzellikler", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("İç Özellikler", "Index", "icOzellikler", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Fotoğraf", "Index", "Foto", new { area = "Admin" }, null)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>