﻿@model IEnumerable<ElseraEmlakProjesi.Models.Foto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FotoAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoSirala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ilan.Baslik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.FotoAdi)" class="img-responsive col-xs-4" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoSirala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ilan.Baslik)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
