﻿@model ElseraEmlakProjesi.Models.Slider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SliderFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslangicTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SliderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
