﻿@model ElseraEmlakProjesi.Models.ilanDetay

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ilanDetay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanyoSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinaYasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinaYasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinaKatSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinaKatSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BulunduguKatSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulunduguKatSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isitma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isitma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esyalimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esyalimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KrediyeUygun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KrediyeUygun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilan.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilan.Baslik)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
