﻿@model ElseraEmlakProjesi.Models.ilanDetay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ilanDetay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanyoSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinaYasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinaYasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinaKatSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinaKatSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BulunduguKatSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulunduguKatSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isitma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isitma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esyalimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esyalimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KrediyeUygun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KrediyeUygun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Konum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Konum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilan.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilan.Baslik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ilanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
