﻿@model IEnumerable<ElseraEmlakProjesi.Models.ilanDetay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinaYasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinaKatSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BulunduguKatSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isitma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esyalimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KrediyeUygun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Konum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OdaSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BanyoSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BinaYasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BinaKatSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BulunduguKatSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isitma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esyalimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KrediyeUygun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Konum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ilanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ilanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ilanID })
        </td>
    </tr>
}

</table>
